*{

    margin: 0;
    padding: 0;
}
h1{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 6rem;
letter-spacing: 3px;

}

.main-div{

background-color: #fab856;
min-height: 100vh;
width: 100vw;
justify-content: center;
    
}
.dataContainer{




}
.Item{

margin-top: 2rem;



}

input{

height: 34px;
width: 36rem;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
border-radius: 20px;
text-align: center;
letter-spacing: 2px;


}
input :hover{

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition: ease-in-out;
}
button {

  
    
    width: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 20px;
    color: #fab856;
    height: 37px;
padding: 1px;
cursor: pointer;
}
.Item{
height: 40px;
width: 100vw;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
justify-content: center;
align-self: center;
text-transform: capitalize  ;

}
.item h3{


    text-align: center;
    justify-content: center;
    padding-right: 57px;
    margin-left: 158px;
    font-size: 23px;
background-color: black;   
    color: orange;
    margin-bottom: 20px;

}
